<h1>About Us</h1>
<p>This is a personal data science project that is hosted on rails. The idea is to use rails to build a site that can give you restaurant recommendations based on similarity to the restaurant found.</p>